# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# Environments
.env*
*env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# local test
test*
my_logs.log
unzipfile/
zipfile/
repo/
.secret/
profiles.yml
.tmp
.ssh
prefect*
*.egg-info/
*.egg
__pycache__/
superset_automation